.btn{
  align-self: center;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 14px;
  box-sizing: border-box;
  width: 100%;
  max-width: 292px;

  text-decoration: none;
  font: inherit;
  color: $color;
  background-color: transparent;
  font-size: $bigger-font-size;
  line-height: $bigger-line-height;
  font-weight: bold;
  text-transform: uppercase;

  border: 2px solid $color;

  transition: $main-transition;

  &:hover{
    background-color: $color;
    color: $bg-color;
  }

  &:active, &:focus{
    color: #7c7c7c;
  }
}
