.email-link{
  color: inherit;
  text-decoration: none;
  position: relative;
  transition: $main-transition;

  // border-bottom: 1px solid $accent-color;

  &::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    // width: 100%;
    height: 1px;
    background-color: $accent-color;
  }

  &:hover{
    color: $accent-color;
    transition: $main-transition;
  }

  &:active, &:focus{
    opacity: $active-opacity;
    transition: $main-transition;
  }
}
