.feedbacks{

  &__title{
    margin: 0;
    margin-bottom: 24px;

    color: $color-black;
    font-size: 25px;
    line-height: 30px;
  }

  &__posts{
    margin: 0;
    margin-bottom: 32px;
    padding: 0;
    list-style: none;
  }
  &__post{
  }
  &__text{
    margin: 0;
    margin-bottom: 27px;

    line-height: 30px;
  }
  &__author{
    margin: 0;
    margin-bottom: 6px;

    color: $color-black;
    font-size: 17px;
    line-height: 24px;
    font-weight: bold;
  }
  &__insta{
    margin: 0;

    color: $color-black;
    font-size: 17px;
  }
  &__btn{
    margin-bottom: 45px;
  }
}

@media (min-width: $tablet-width){
    .feedbacks{
      padding-top: 76px;
      padding-bottom: 20px;
      margin-bottom: 67px;

      position: relative;

      background-image: url('../img/review@1x.jpg');
      @media (min-resolution: $dpi), (min-resolution: $dppx) {
      background-image: url("../img/review@2x.jpg");
      }
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 350px auto;

      margin-left: - $primary-page-padding;
      padding-left: $primary-page-padding;
      &__title{
        margin-bottom: 50px;

        font-size: 43px;
        line-height: 50px;
      }
      &__text{
        font-size: 17px;
        margin-bottom: 58px;
      }
      &__controls{
        position: absolute;
        bottom: 15px;
        right: 0;
      }
      &__btn{
        position: absolute;
        top:79px;
        right: 0;

        max-width: 175px;
      }
    }
}

@media (min-width: $desktop-width){
    .feedbacks{
      margin-left: 0;
      padding-left: calc(100%/6);
      padding-right: 100px;
      padding-top: 69px;
      padding-bottom: 65px;

    &__title{
      margin-bottom: 50px;

      font-size: 53px;
      line-height: 57px;
    }

    &__text{
      margin-bottom: 39px;
    }

    &__controls{
      bottom: 60px;
    }
  }
}
