.main-navigation{


  &__pages{
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;

    // padding: 35px 0;
  }

  &__item{
    padding: 30px 10px 30px 57px;

    border-top: 1px solid $border-gray-color;
    margin-top: -1px;
  }

  &__sub-pages{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__user-menu-items{
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $tablet-width){
  .main-navigation{
    &__pages{
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__user-menu-items{
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}


@media (min-width: $desktop-width){

}
