.page-header{
  display: flex;
  flex-direction: column;


  &__logo-wrapper{
    height: 79px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    position: relative;
  }

  &__logo{
    // height: 79px;
    transition: $main-transition;
    &:hover{
      opacity: $hover-opacity;
      transition: $main-transition;
    }
    &:active{
      opacity: $active-opacity;
      transition: $main-transition;
    }
  }

  &__logo-img{
    width: 86px;
    height: 35px;
    display: block;
  }

  &__mobile-button{
    position: absolute;
    right: 0px;
  }



  &__delivery-info{
    display: none;
  }

  &__sub-navigation{
    display: none;
  }

  &--closed{
      @media (max-width: ($tablet-width)-1px){
          max-height: 79px;

          .page-header__site-navigation{
            transform: translateY(-2000px);
          }

          .page-header__user-navigation{
            transform: translateY(-2000px);
          }
      }

  }
}

  @media (min-width: $tablet-width){
    .page-header{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      &__logo-wrapper{
        height: 89px;
        flex-basis: 40%;
      }

      &__logo-img{
        height: 46px;
        width: 113px;
      }

      &__mobile-button{
        display: none;
      }

      &__site-navigation{
        order: 3;
      }

      &__user-navigation{
        margin-left: auto;
        flex-basis: 60%;
        justify-content: flex-end;
      }

      &__delivery-info{
        display: flex;
        order: 5;

        margin: 0;
        padding: 17px 0;
      }

      &::before{
        content: '';
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        top: 88px;
        height: 1px;
        background-color: $border-gray-color;
      }
    }
  }

  @media (min-width: $desktop-width){
    .page-header{


    &__site-navigation{
      order: 1;
      flex-basis: 42.5%;
    }

    &__logo-wrapper{
      order: 2;
      flex-basis: 15%;
    }
    &__logo-img{
      height: 72px;
      width: 149px;
    }

    &__user-navigation{
      order:3;
      flex-basis: 42.5%;
    }

    &__sub-navigation{
      display: flex;
      order: 4;
    }
  }

}
