.page-header{
  display: flex;
  flex-direction: column;

  &__logo-wrapper{
    height: 79px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
  }

  &__logo{
    // height: 79px;
  }

  &__logo-img{
    height: 35px;
  }

  &__mobile-button{
    position: absolute;
    right: 30px;
  }

  &__user-navigation{

  }

  &__delivery-info{
    display: none;
  }

  &__sub-navigation{
    display: none;
  }
}

  @media (min-width: $tablet-width){
    .page-header{
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;

      &__logo-wrapper{
        height: 89px;
        flex-basis: 40%;
      }

      &__mobile-button{
        display: none;
      }

      &__site-navigation{
        order: 3;
      }

      &__user-navigation{
        margin-left: auto;
        flex-basis: 60%;
        justify-content: flex-end;
      }

      &__delivery-info{
        display: flex;
        order: 5;

        margin: 0;
        padding: 24px 0;
      }

      &::before{
        content: '';
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        top: 88px;
        height: 1px;
        background-color: $border-gray-color;
      }
    }
  }

  @media (min-width: $desktop-width){
    .page-header{


    &__site-navigation{
      order: 1;
      flex-basis: 45%;
    }

    &__logo-wrapper{
      order: 2;
      flex-basis: 10%;
    }

    &__user-navigation{
      order:3;
      flex-basis: 45%;
    }

    &__sub-navigation{
      display: flex;
      order: 4;
    }
  }

}
