.page-footer{
  background-color: $bg-dark-gray;
  &__wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__logo-wrapper{
    display: none;
  }
  &__social-links{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  &__social-link{
    display: block;
    margin:26px 17px;
    fill: $color-black;
    transition: $main-transition;
    &:hover{
      transition: $main-transition;
      fill: $accent-color;
    }
    &:active, &:focus{
      transition: $main-transition;
      opacity: $active-opacity;
    }
    &--twitter{
      width: 23px;
      height: 20px;
    }
    &--facebook{
      width: 15px;
      height: 28px;
    }
    &--instagram{
      width: 21px;
      height: 21px;
    }
  }
  &__made-by-wrapper{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    &::before{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 1px;
      background-color: #e5e5e5;}
  }
  &__made-by{
    display: flex;
    align-items: center;
    margin-top: 17px;
    margin-bottom: 20px;
    font-size: 19px;
    color: $color-black;
    font-weight: bold;
    & svg{
      margin-left: 30px;
    }
  }
}

@media (min-width: $tablet-width){
  .page-footer{
    &__wrapper{
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      min-height: 143px;
    }
    &__logo-wrapper{
      display: block;
      flex-basis: calc(100%/3);
    }

    &__logo{
      fill: $color-black;
      transition: $main-transition;
      &:hover{
        transition: $main-transition;
        fill: $accent-color;
      }
      &:active, &:focus{
        transition: $main-transition;
        opacity: $active-opacity;
      }
    }
    &__social-links{
      flex-basis: calc(100%/3);
      justify-content: center;
    }
    &__social-link{
      margin:20px;
    }
    &__made-by-wrapper{
      width: auto;
      flex-basis: calc(100%/3);
      justify-content: flex-end;
      &::before{
        display: none;}
    }
  }
}
