.product{
  border: 1px solid $border-gray-color;
  display: flex;
  flex-wrap: wrap;
  &:hover &__info{
    transition: $main-transition;
    box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.1);
  }

  &:active &__info, &:focus &__info{
    transition: $main-transition;
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.1);
  }

  & picture{
    flex-basis: 260px;
    flex-grow: 1;
    position: relative;
    z-index: 3;
  }
  &__image{
     width: 100%;
     display: block;
  }

  &__info{
    padding: 30px 13px;
    flex-basis: 260px;
    flex-grow: 1;

    display: flex;
    flex-direction: column;


  }

  &__title{
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    font-size: 17px;
  }

  &__link{
    text-decoration: none;
    color: $color-black;
    transition: $main-transition;
    &:hover{
      opacity: $hover-opacity;
      transition: $main-transition;
    }
    &:active,&:focus{
      opacity: $active-opacity;
      transition: $main-transition;
    }
  }


  &__description{
    margin: 0;
    padding: 0;
    font-size: 13px;
    margin-bottom: 20px;
  }

  &__bottom-container{
    margin-top: auto;
    border-top: 1px solid $border-gray-color;
    padding-top: 20px;
    display: flex;
  }

  &__price{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    color: $color-black;
  }

  &__basket{
    margin-left: auto;
    width: 21px;
    height: 20px;
  }

  &__basket-icon{
    opacity: 0.2;
    fill: $color-black;
    transition: $main-transition;
    &:hover{
      opacity: 1;
      transition: $main-transition;
      fill: $accent-color;
    }
    &:active, &:focus{
      transition: $main-transition;
      opacity: $active-opacity;
    }
  }
}

@media (min-width: $tablet-width){
  .product{
    &__title{
      font-size: 20px;
    }
    &__description{
      font-size: 15px;
    }

    &__price{
      font-size: 17px;
    }
  }

}

@media (min-width: $desktop-width){
  .product{
    flex-direction: column;
    flex-wrap: nowrap;
    &__info{
      height: 100%;
      flex-basis: 0;
    }

  }
}
