.product{
  border: 1px solid $border-gray-color;
  display: flex;
  flex-wrap: wrap;

  & picture{
    flex-basis: 260px;
    flex-grow: 1;
  }
  &__image{
     width: 100%;
     display: block;
  }

  &__info{
    padding: 30px 13px;
    flex-basis: 260px;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
  }

  &__title{
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    color: $color-black;
    font-size: 17px;
  }

  &__description{
    margin: 0;
    padding: 0;
    font-size: 13px;
    margin-bottom: 20px;
  }

  &__bottom-container{
    margin-top: auto;
    border-top: 1px solid $border-gray-color;
    padding-top: 20px;
    display: flex;
  }

  &__price{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    color: $color-black;
  }

  &__basket{
    margin-left: auto;
    width: 21px;
    height: 20px;
    background-image: url('../img/icon-cart.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: $tablet-width){
  .product{
    &__title{
      font-size: 20px;
    }
    &__description{
      font-size: 15px;
    }

    &__price{
      font-size: 17px;
    }
  }

}

@media (min-width: $desktop-width){
  .product{
    flex-direction: column;
    flex-wrap: nowrap;
    &__info{
      height: 100%;
      flex-basis: 0;
    }

  }
}
