.weekly-product{

  display: flex;
  flex-direction: column;
  position: relative;

  margin-bottom: 35px;

  &__tittle{
    margin-top: 25px;
    margin-bottom: 5px;
    color: $color-black;
    font-size: 25px;
    line-height: 30px;
  }

  &__slogan{
    margin: 0;
    margin-bottom: 26px;

    color: $accent-color;
    text-transform: uppercase;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
  }

  &__description{
    margin: 0;
    margin-bottom: 16px;
  }

  &__specifications{
    margin-bottom: 28px;
    max-width: 292px;
  }

  picture{
    align-self: center;
  }
  &__image{
    display: block;
  }

  &__price{
    margin-top: 23px;
    margin-bottom: 26px;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    font-weight: bold;
  }
}

@media (min-width: $tablet-width){
  .weekly-product{
    margin-bottom: 55px;

    &__tittle{
      width: 75%;
      font-size: 43px;
      line-height: 50px;

      margin-top: 38px;
      margin-bottom: 50px;
    }

    &__slogan{
      position: absolute;
      top:50px;
      right: 0px;
      width: 120px;
      text-align: center;
    }

    &__description{
      width: 50%;
      font-size: 17px;
      line-height: 30px;

      margin-bottom: 34px;
    }

    &__specifications{
    }

    &__image{
      position: absolute;
      right: 0;
      // top: 130px;
      bottom: 0;

      width: 50%;
      max-height: 80%;
      object-fit: cover;
    }

    &__price{
      align-self: flex-start;
      width: 292px;

      font-size: 20px;
      line-height: 24px;

      margin-top: 26px;
      margin-bottom: 35px;
    }

    &__btn{
      align-self: flex-start;
    }
  }
}

@media (min-width: $desktop-width){
  .weekly-product{
    padding-left: calc(100%/6);
    margin-bottom: 73px;

    &__tittle{
      margin-top: 116px;
      font-size: 53px;
      line-height: 57px;

      position: relative;
      z-index: 2;
    }

    &__slogan{
      top: 131px;
      right: auto;
      left: 0px;

      box-sizing: border-box;
      width: calc(100%/6);
      padding: 0 40px;
    }

    &__description{
      width: 35%;
      margin-bottom: 45px;
    }

    &__specifications{
    }

    &__image{
      max-height: calc(100% - 54px);
    }

    &__price{
      margin-top: 81px;
    }
  }
}
