.container{
  box-sizing: border-box;
  min-width: 320px;
  max-width: 1150px;

  // margin: 0 auto;
  width: auto;
  padding: 0 $primary-mobile-page-padding;
}

@media (min-width: $tablet-width){
  .container{
    padding: 0 $primary-page-padding;
    margin: 0 auto;
  }

}
