.pxperfect{
  position: absolute;
  left: 0;
  top:0;
  height: 10000px;
  width: 100%;
  background-image: url('../pxperfect/mobile.jpg');
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.4;
  z-index: 100;
}

@media (min-width: $tablet-width){
  .pxperfect{
    background-image: url('../pxperfect/tablet.jpg');
  }
}

@media (min-width: $desktop-width){
  .pxperfect{
    background-image: url('../pxperfect/desktop.jpg');
  }
}
