
// widths
$tablet-width: 768px;
$desktop-width : 1200px;

//colors
$bg-color: #ffffff;
$color: #000000;
$accent-color: #63d1bb;
$darker-accent-colot: #56c3b2;
$darkest-accent-colot: #3bb09d;
$icons-color: #d3d2d2;

//font-sizes
$primary-font-size: 15px;
$primary-line-height: 24px;
$bigger-font-size: 17px;
$bigger-line-height: 20px;
$headers-font-size: 25px;
$headers-line-height: 30px;
