
// widths
$tablet-width: 768px;
$desktop-width : 1050px;

//colors
$bg-color: #ffffff;
$bg-gray: #f9f9f9;
$bg-dark-gray: #f1f1f1;
$color: #444444;
$color-black: #000000;
$color-white:#ffffff;
$accent-color: #63d1bb;
$darker-accent-color: #56c3b2;
$darkest-accent-color: #3bb09d;
$icons-color: #d3d2d2;
$border-gray-color: #ececec;

//font-sizes
$primary-font-size: 15px;
$primary-line-height: 24px;
$bigger-font-size: 17px;
$bigger-line-height: 20px;
$headers-font-size: 25px;
$headers-line-height: 30px;

// primary paddings
$primary-page-padding: 50px;
$primary-mobile-page-padding: 30px;

$dpi: 144dpi;
$dppx: 1.5dppx;
